<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="apikey" value="9b10f8dd27mshf3a33f7fe54e3bcp11bf99jsnd93d02395254"/>
		<add key="apihost" value="investors-exchange-iex-trading.p.rapidapi.com"/>
		<add key="baseurl" value="https://investors-exchange-iex-trading.p.rapidapi.com"/>
		<add key ="stocksymbol" value="intc"/>
	</appSettings>
</configuration>